* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
}

.margin-top20 {
  margin-top: 20px;
}

#container {
  padding: 40px;
  border-radius: 20px;
  max-width: 400px;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 400px;
  left: 50%;
}
.name_form {
  text-align: center;
}
#form_dangki input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid #cccc;
}
#form_dangki button {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background-color: #f50c0c;
  color: #fff;
  font-weight: 700;
}
#rules {
  font-size: 15px;
  text-align: center;
}
#rules span a {
  color: #0f7ce4;
}
header {
  background-color: #d38566;
  width: 100%;
}
header img {
  width: 180px;
  text-align: center;
  padding: 10px;
}
